body{

margin:0;
font-family:Arial;
background:#f4f6fb;
text-align:center;

}

header{

background:white;
padding:20px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);

}

header h1{

margin:0;
color:#333;

}

.container{

margin-top:80px;

}

h2{

font-size:36px;
margin-bottom:10px;

}

p{

color:#666;

}

input{

margin-top:30px;

}

.preview-box{

margin-top:40px;

}

.preview-box img{

max-width:300px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);

}

.buttons{

margin-top:40px;

}

button{

background:#4a7dfc;
color:white;
border:none;
padding:15px 30px;
margin:10px;
font-size:16px;
border-radius:8px;
cursor:pointer;

}

button:hover{

background:#3a66d6;

}

canvas{

display:none;

}